
usar float
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}


footer{
	background-color:rgb(180, 180, 180);
}

#img1{
	overflow: auto;
	position: absolute;
	top: 80px;
  	right: 0px;
}

#img3{
	float: none;
}
